*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background: linear-gradient(90deg, rgb(172, 0, 0), black, rgb(172, 0, 0));
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, rgb(0, 17, 255), #2a7481);
    color: greenyellow;
    margin: 50px auto 0;
    padding: 40px 35px;
    text-align: center;
    border-radius: 20px;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background-color: aliceblue;
    color: red;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
}

.search button{
    border: 0;
    outline: 0;
    background-color: aliceblue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 30px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 600;
}

.weather h2{
    font-size: 50px;
    font-weight: 500;
    margin-top: -10px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 60px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 30px;
    font-weight: bold;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}